/*
!/alias.conf
!/buflist.conf
!/charset.conf
!/exec.conf
!/fifo.conf
!/fset.conf
!/irc.conf
!/logger.conf
!/lua.conf
!/perl.conf
!/python.conf
!/relay.conf
!/script.conf
!/spell.conf
!/tcl.conf
!/trigger.conf
!/weechat.conf
!/xfer.conf
