theme = "catppuccin_mocha"

[editor]
auto-pairs = false
auto-save = false
bufferline = "multiple"
scrolloff = 8
rulers = [80, 120]
cursorline = true

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "â–"

[keys.insert]
j = { k = "normal_mode", j = "normal_mode", K = "normal_mode", J = "normal_mode" }

[keys.normal]
D = "kill_to_line_end"
"^" = "goto_line_start"
"C-k" = "jump_view_up"
"C-j" = "jump_view_down"
"C-h" = "jump_view_left"
"C-l" = "jump_view_right"
"L" = "repeat_last_motion"

[keys.normal.space]
q = ":reflow 80"
Q = ":reflow 120"
v = ":run-shell-command fish -c 'env > /tmp/env'"
J = ":bp"
K = ":bn"
C = ":bc"
# O = ["select_textobject_inner WORD", ":pipe-to xargs xdg-open"]

[keys.select]
space = { q = ":reflow 80", Q = ":reflow 120" }
"L" = "repeat_last_motion"

