$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;
$blue: #89b4fa;
$lavender: #b4befe;
$sapphire: #74c7ec;
$sky: #89dceb;
$teal: #94e2d5;
$green: #a6e3a1;
$yellow: #f9e2af;
$peach: #fab387;
$maroon: #eba0ac;
$red: #f38ba8;
$mauve: #cba6f7;
$pink: #f5c2e7;
$flamingo: #f2cdcd;
$rosewater: #f5e0dc;

* {
  all: unset;
}

.bar {
  background-color: $base;
  color: $text;
  font-family: IosevkaLyteTerm;
  font-size: 12.0pt;
}

.sidestuff slider {
  color: #ffd5cd;
}

.metric {}

.metric label {
  padding-right: 5px;
}

.metric scale {
  /*background-color: #ff00ff;*/
}

.metric scale trough {
  background-color: $surface1;
  color: $mantle;
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
}

.metric scale trough highlight {
  background-color: $flamingo;
  color: $base;
  border-radius: 10px;
}

.bar>* {
  padding-left: 10px;
  padding-right: 10px;
}